<%= form_for(@entry) do |f| %>
    <% if @entry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

          <ul>
            <% @entry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% date = @entry.date[:date].to_date %>
    <input type="text", name="entry[date]" id="entry[date]" value="<%= date %>">

    <br /><br /><br />

    <div id="date-head">
      <a href="/entries/d/<%= date.prev_day %>"> <button id="prev-btn" type="button" class="btn btn-default">Prev </button></a>
      <h4 id="the-date"><%= date.strftime("%A %d") %></h4>
      <a href="/entries/d/<%= date.next_day %>"><button id="next-btn" type="button" class="btn btn-default">Next</button></a>
    </div>

    <br />
    <div class="form-group">
      <%= f.label :mood %><br>
      <%= f.number_field :mood %>
    </div>
    <div class="form-group">
      <%= f.label :sleep %><br>
      <%= f.number_field :sleep %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
