<%= form_for(@entry) do |f| %>
    <% if @entry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

          <ul>
            <% @entry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% @entry.instance_variable_set(:@patient_id, current_patient.id)
       if @entry.date.instance_of?(Date)
         date = @entry.date
       elsif @entry.date[:date].nil?
         date = Date.today
       else
         date =  @entry.date[:date].to_date
       end %>

    <input type="hidden", name="entry[date]" id="entry[date]" value="<%= date %>">
    <input type="hidden", name="entry[patient_id]" id="entry[patient_id]" value="<%= current_patient.id %>">


    <div id="date-head">
      <a href="/entries/d/<%= date.prev_day %>" class="arrows"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
      <h2 id="the-date"><%= date.strftime("%A %d") %></h2>
      <a href="/entries/d/<%= date.next_day %>" class="arrows"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>

    <br />
      <input id="mood-slider" data-slider-id="red" class="slider-selection form-control" name="entry[mood]"
             type="text" data-slider-min="0" data-slider-max="13" data-slider-step="1" data-slider-value="7"/>

    <div class="form-group">
      <%= f.label :mood %><br>
      <%= f.number_field :mood %>
    </div>
    <div class="form-group">
      <%= f.label :sleep %><br>
      <%= f.number_field :sleep %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>