<p id="notice"><%= notice %></p>

<section class="content-header">
  <h1>
    Entries
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Mood</th>
      <th>Sleep</th>
      <th>Irritability</th>
      <th>Anxiety</th>
      <th>Psychotic</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.date %></td>
        <td><%= entry.mood %></td>
        <td><%= entry.sleep %></td>
        <td><%= entry.irritability %></td>
        <td><%= entry.anxiety %></td>
        <td><%= entry.psychotic %></td>
        <td><%= entry.notes %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
