<% if patient_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong><%= current_patient.name %></strong> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><p class="navbar-text">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <%= link_to 'Edit profile', edit_patient_registration_path, :class => 'navbar-link' %>
        </p></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>

     <li><p class="navbar-text"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <%= link_to "Log out", destroy_patient_session_path, method: :delete, :class => 'navbar-link' %></p></li>
<% else %>
    <p class="navbar-text">
      <%= link_to "Sign up", new_patient_registration_path, :class => 'navbar-link' %> |
      <span class="glyphicon glyphicon-user-log-in" aria-hidden="true"></span> <%= link_to "Login", new_patient_session_path, :class => 'navbar-link' %>
    </p>
  <% end %>
